{% extends 'base.html' %}
{% load static %}

{% block title %}
    Thori'del
{% endblock title %}

{% block content %}
    <div class="first-content">
      <div class="pic blog1-picture" style="background: url({% static 'images/pic10.png' %});">
        <div class="overlay"></div>
        <div class="content">
          <h3>{{ article.title }}</h3>
        </div>
      </div>
    </div>
    <div class="blogdata">
      <div class="container">
        <h3> {{ article.title }}</h3>
        <span>{{ article.created }} </span>
        <span style="text-transform: uppercase;">{{ article.author }}</span>
        {% if user.is_authenticated %}
          <span style="text-align: right; text-transform: uppercase;">Operations: &nbsp;<a href="#" onclick="confirm_delete()">Delete</a>&nbsp;|&nbsp;<a href="{% url 'article:article_update' article.id %}">Update</a></span>
          <form style="display:none;" id="safe_delete" action="{% url 'article:article_safe_delete' article.id %}" method="POST">
            {% csrf_token %}
            <button type="submit">Send</button>
          </form>
        {% endif %}
        <p>{{ article.body|safe }}</p>
      </div>
    </div>
    <div class="picbackground">
      <div class="container">
        <img src={% static 'images/image3.jpg' %} alt="">
      </div>
    </div>
    <div class="blogsection2">
      <div class="container">
        <h4> Lorem ipsum blog CraftedThemes!</h4>
        <div class="row">
          <div class="items">
            <div class="col-md-6">
              <img src={% static 'images/flower.jpg' %} alt="">
            </div>
            <div class="col-md-6">
              <p>Hay muchas variaciones de los pasajes de Lorem Ipsum disponibles, pero la mayoría sufrió alteraciones en alguna manera, ya sea porque se le agregó humor, o palabras aleatorias que no parecen ni un poco creíbles. Si vas a utilizar un pasaje de Lorem Ipsum, necesitás estar seguro de que no hay nada avergonzante escondido en el medio del texto. Todos los generadores de Lorem Ipsum que se encuentran en Internet
              <h5> Simple is Beautiful </h5>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="blogsection3">
      <div class="container">
        <div class="row">
          <div class="items">
            <div class="col-md-6">
              <p>
                Hay muchas variaciones de los pasajes de Lorem Ipsum disponibles, pero la mayoría sufrió alteraciones en alguna manera, ya sea porque se le agregó humor, o palabras aleatorias que no parecen ni un poco creíbles. Si vas a utilizar un pasaje de Lorem Ipsum, necesitás estar seguro de que no hay nada avergonzante escondido en el medio del texto. Todos los generadores de Lorem Ipsum que se encuentran en Internet
              <h5> Simple is Beautiful </h5>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
              </p>
            </div>
            <div class="col-md-6">
              <img src={% static 'images/world.png' %} alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="blogsection4">
      <div class="container">
        <div class="items">
          <h3> 2 Comments</h3>
          <p>Join the discussion and tell us your opinion.</p>
        </div>
        <div class="row">
          <div class="col-md-2">
            <div class="picture">
              <img src={% static 'images/portret22.png' %} alt="">
            </div>
          </div>
          <div class="col-md-10">
          <div class="txt">
            <h5>Edi Smith</h5>
            <span>Friday at 01:00 PM</span>
            <p>Great Theme!</p>
            </div>
          </div>
        </div>
         <div class="row items4">
          <div class="col-md-2">
            <div class="picture">
              <img src={% static 'images/portreti23.png' %} alt="">
            </div>
          </div>
          <div class="col-md-10">
          <div class="txt">
            <h5>Kate Atkins</h5>
            <span>Monday at 10:00 AM</span>
            <p>Nice job Guys, i love it so much very simple template!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="contact-content">
      <div class="container">
      <h5 class="item">Leave a reply</h5>
          <form class="row" action="#">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <input placeholder="Name" type="text" name="firstname"> <br>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <input placeholder="Email" type="text" name="email"> <br>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <input placeholder="Subject" type="text" name="subject"> <br>
                </div>
                <div class="col-md-12 form-area">
                    <textarea placeholder="Message" name="message"></textarea>
                    <input type="submit" value="Comment">
                </div>
        </form>
      </div>
    </div>
    <script>
      function confirm_delete() {
        layer.confirm('Are you sure to delete this blog? ', {
          btn: ['Yes','No']
        }, function(index, layero) {
          layer.msg('Deleting...', {
            icon: 1,
            time:1500
          }, function() {
            $('form#safe_delete button').click();
          });
        });
      }
    </script>
{% endblock content %}