{% extends 'base.html' %}
{% load static %}

{% block title %}
    Thori'del
{% endblock title %}

{% block content %}
    <div class="first-content">
        <div class="pic picture2" style="background: url({% static 'images/woman-apple.jpg' %});">
            <div class="overlay"></div>
            <div class="content">
                <h3>BLOG</h3>
            </div>
        </div>
    </div>
    <div class="blog-firstsection">
        <div class="container">
            <div class="row items2">
                <div class="col-md-12">
                    {% for article in articles %}
                        <div class="picture">
                            {% if article.avatar %}
                                <img src="{{ article.avatar.url }}" alt="avatar">
                            {% else %}
                                <img src={% static 'images/kafiato.jpg' %} alt="">
                            {% endif %}
                        </div>
                        <div class="pic-inner">
                            <h3><a href="blog1.html">{{ article.title }} </a></h3>
                            {% if article.category %}
                                <div class="btn-category">
                                    <a class="load-more" href="#">{{ article.category }}</a>
                                </div>
                            {% endif %}
                            <span>{{ article.created|date:'Y-m-d' }}</span>
                            <span style="float: right;">Tags:
                            {% for tag in article.tags.all %}
                                 <a style="color: #763A31;" href="#">{{ tag }}</a>
                            {% endfor %}
                            </span>
                            <p>{{ article.body|slice:'300' }}... </p>
                            <div class="btn-load-more">
                                <a class="load-more" href={% url 'article:article_detail' article.id %}>Read More..</a>
                            </div>
                            <p class="auth-span">
                                <span style="margin-right: 20px;"><i class="fa fa-user" style="font-size:15px;"></i>&nbsp;{{ article.author }}</span>
                                <span style="margin-right: 20px;"><i class="fa fa-clock-o" style="font-size:15px"></i> {{ article.created|date:'Y-m-d H:i'}}</span>	<span style="margin-right: 20px;"><i class="fa fa-eye" style="font-size:15px"></i> 994</span>	<span style="margin-right: 20px;"><i class="fa fa-comments-o" style="font-size:15px"></i> <a target="_blank" href="#">0评论</a></span>
                                <span style="margin-right: 20px;"><i id="heart" class="fa fa-heart-o" style="font-size: 15px;"></i>
                                    <a href="javascript:;"
                                    onclick="validate_is_like(
                                        '{% url 'article:likes' article.id %}',
                                        {{ article.id }},
                                        {{ article.like }}
                                        )"
                                    >
                                        <span id="likes_number">
                                            {{ article.like }}
                                        </span>
                                        <span>likes</span>
                                    </a>
                                </span>
                            </p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="btn-load-more">
        <button class="load-more">
        Load More
        </button>
    </div>

{% endblock content %}

{% block script %}
    <script src="{% static 'js/csrf.js' %}"></script>
    <script>
        // 点赞功能主函数
        function validate_is_like(url, id, likes) {
            // 取出 LocalStorage 中的数据
            let storage = window.localStorage;
            const storage_str_data = storage.getItem("my_blog_data");
            let storage_json_data = JSON.parse(storage_str_data);
            // 若数据不存在，则创建空字典
            if (!storage_json_data) {
                storage_json_data = {}
            };
            // 检查当前文章是否已点赞。是则 status = true
            const status = check_status(storage_json_data, id);
            if (status) {
                layer.msg('已经点过赞了哟~');
                // 点过赞则立即退出函数
                return;
            } else {
                // 用 Jquery 找到点赞数量，并 +1
                $('#heart').attr("class", "fa fa-heart");
                $("#heart").css({'font-size': '15px', 'color': 'red'});
                $('span#likes_number').text(likes + 1).css('color', '#dc3545');
            }
            // 用 ajax 向后端发送 post 请求
            $.post(
                url,
                // post 只是为了做 csrf 校验，因此数据为空
                {},
                function(result) {
                    if (result === 'success') {
                        // 尝试修改点赞数据
                        try {
                            storage_json_data[id] = true;
                        } catch (e) {
                            window.localStorage.clear();
                        };
                        // 将字典转换为字符串，以便存储到 LocalStorage
                        const d = JSON.stringify(storage_json_data);
                        // 尝试存储点赞数据到 LocalStorage
                        try {
                            storage.setItem("my_blog_data", d);
                        } catch (e) {
                            // code 22 错误表示 LocalStorage 空间满了
                            if (e.code === 22) {
                                window.localStorage.clear();
                                storage.setItem("my_blog_data", d);
                            }
                        };
                    } else {
                        layer.msg("与服务器通信失败..过一会儿再试试呗~");
                    }

                }
            );
        };

        // 辅助点赞主函数，验证点赞状态
        function check_status(data, id) {
            // 尝试查询点赞状态
            try {
                if (id in data && data[id]) {
                    return true;
                } else {
                    return false;
                }
            } catch (e) {
                window.localStorage.clear();
                return false;
            };
        };
    </script>
{% endblock script %}