{% extends 'base.html' %}
{% load static %}

{% block title %}
    Thori'del
{% endblock title %}

{% block content %}
    <div class="first-content">
        <div class="pic picture2" style="background: url({% static 'images/woman-apple.jpg' %});">
            <div class="overlay"></div>
            <div class="content">
                <h3>BLOG</h3>
            </div>
        </div>
    </div>
    <div class="blog-firstsection">
        <div class="container">
            <div class="row items2">
                <div class="col-md-12">
                    {% for article in articles %}
                        <div class="picture">
                            <img src={% static 'images/kafiato.jpg' %} alt="">
                        </div>
                        <div class="pic-inner">
                            <h3><a href="blog1.html">{{ article.title }} </a></h3>
                            <span>{{ article.created }}</span>
                            {% for tag in article.tags.all %}
                                <span style="float: right;">Tags: <a style="color: #763A31;" href="#">{{ tag }}</a></span>
                            {% endfor %}
                            <p>{{ article.body|slice:'300' }}... </p>
                            <div class="btn-load-more">
                                <a class="load-more" href={% url 'article:article_detail' article.id %}>Read More..</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="col-md-12">
                    <div class="picture">
                        <img src={% static 'images/pencil.jpg' %} alt="">
                    </div>
                    <div class="pic-inner">
                        <h3><a href="blog1.html">Photography </a></h3>
                        <span>2016-07-20</span>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <div class="btn-load-more">
                            <a class="load-more" href="blog1.html">Read More..</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="picture">
                        <img src={% static 'images/pancake.jpg' %} alt="">
                    </div>
                    <div class="pic-inner">
                        <h3><a href="blog1.html">Photography </a></h3>
                        <span>2016-07-20</span>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <div class="btn-load-more">
                            <a class="load-more" href="blog1.html">Read More..</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="picture">
                        <img src={% static 'images/pencil12.jpg' %} alt="">
                    </div>
                    <div class="pic-inner">
                        <h3><a href="blog1.html">Photography </a></h3>
                        <span>2016-07-20</span>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <div class="btn-load-more">
                            <a class="load-more" href="blog1.html">Read More..</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="picture">
                        <img src={% static 'images/pic4.png' %} alt="">
                    </div>
                    <div class="pic-inner">
                        <h3><a href="blog1.html">Photography </a></h3>
                        <span>2016-07-20</span>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <div class="btn-load-more">
                            <a class="load-more" href="blog1.html">Read More..</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="picture">
                        <img src={% static 'images/ginger.jpg' %} alt="">
                    </div>
                    <div class="pic-inner">
                        <h3><a href="blog1.html">Photography </a></h3>
                        <span>2016-07-20</span>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <div class="btn-load-more">
                            <a class="load-more" href="blog1.html">Read More..</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="btn-load-more">
        <button class="load-more">
        Load More
        </button>
    </div>
{% endblock content %}