{% extends 'base.html' %}
{% load static %}

{% block title %}
    Thori'del
{% endblock title %}

{% block content %}
    <div class="first-content">
        <div class="pic home-picture" style="background: url({% static 'images/homebg.jpg' %});">
            <div class="overlay"></div>
            <div class="content">
                <h3>New Blog</h3>
            </div>
        </div>
    </div>
    <div class="form-div">
        <form class="form-signin" method="post" action="." enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" id="title" class="form-control" placeholder="Title" name="title" required autofocus>
            </div>

            <div class="form-group">
                <label for="tags">Tags</label>
                <input type="text" id="tags" class="form-control" placeholder="Tag" name="tags">
            </div>

            <div class="form-group">
                <label for="avatar">Avatar</label>
                <input type="file" id="avatar" class="form-control-file" placeholder="Avatar" name="avatar">
            </div>

            <div class="form-group">
                <label for="category">Category</label>
                <select class="form-control" id="category" name="category">
                    <option value="none">Please select</option>
                    {% for category in categorys %}
                        <option value="{{ category.id }}">{{ category }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="body">Blog</label>
                <textarea style="resize:none;" type="text" id="body" class="form-control" name="body" rows="12"></textarea>
            </div>

            <button class="btn btn-info btn-lg btn-block" type="submit">Push</button>
        </form>
    </div>
{% endblock content %}