{% load static %}

<footer>
    <div class="main-footer">
        <p> Copyright © 2016 By Crafted Theme</p>
        <p>Made with Love from Us.</p>
        <div class="icons">
            <ul>
                <li><a target="_BLANK" href="http://facebook.com/"><i class="fa fa-facebook"></i> </a></li>
                <li><a target="_BLANK" href="http://instagram.com/"><i class="fa fa-instagram"></i> </a></li>
                <li><a target="_BLANK" href="http://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                <li><a target="_BLANK" href="http://behance.net/"><i class="fa fa-behance"></i></a></li>
            </ul>
        </div>
    </div>
</footer>