<header>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="logo">
                    <h2><a href="{% url 'home:home_page' %}">Thori'del</a></h2>
                </div>
            </div>
            <div class="col-md-8">
                <div id="menu" class="menu">
                    <ul>
                        <li><a href={% url 'home:home_page' %} class="active">Home</a></li>
                        <li>
                            <a href="#">Pages</a>
                            <ul>
                                <li>
                                    <a href="#">Portfolio</a>
                                    <ul>
                                        <li><a href="portfolio-2.html">2 Column</a></li>
                                        <li><a href="portfolio-3.html">3 Column</a></li>
                                        <li><a href="portfolio-4.html">4 Column</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Masonry</a>
                                    <ul>
                                        <li><a href="masonry-2.html">2 Column</a></li>
                                        <li><a href="index.html"> 3 Column</a></li>
                                        <li><a href="masonry-3.html">4 Column</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Blog</a>
                                    <ul>
                                        <li><a href="blog2.html">Full Width</a></li>
                                        <li><a href="blog.html">Grid 2Column</a></li>
                                        <li><a href="blog3.html">Grid 3Column</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">PROJECT SINGLE</a>
                                    <ul>
                                        <li><a href="single1.html">SINGLE V1</a></li>
                                        <li><a href="single2.html">SINGLE V2</a></li>
                                        <li><a href="single3.html">SINGLE V3</a></li>
                                        <li><a href="single4.html">SINGLE V4</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="{% url 'article:article_list' %}">Blog</a></li>
                        <li><a href="{% url 'home:contact' %}">Contact</a></li>
                        <li><a href="{% url 'home:about' %}">About</a></li>
                        {% if user.is_authenticated %}
                            <li>
                                <a href="#">{{ user.username }}</a>
                                <ul>
                                    <li><a href="{% url 'userprofile:logout' %}">Logout</a></li>
                                </ul>
                            </li>
                        {% else %}
                            <li><a href="{% url 'userprofile:login' %}">Login</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>